* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/red.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    font-family: Montserrat,sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #1e2a38; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('background.jpg') no-repeat center center/cover; 
}

.logo img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    height: 25px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight {
    color: #ffcc00;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.play-button {
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-family:TTNorms, sans-serif;
    border-radius: 7px ;
}

.hero-image img {
    height: 400px;
}

.server-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e2a38;
}

.server {
    background-color: #283847;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.server h3 {
    color: #fff;
    font-size: 24px;
}

.total-players {
    text-align: right;
    font-size: 24px;
}

.total-players .highlight {
    color: #ffcc00;
}
