* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/red.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    font-family: Montserrat,sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #1e2a38; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('background.jpg') no-repeat center center/cover; 
    width: 100%;
}

.logo img {
    height: 50px;
}

nav{
    margin-left: 80px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    /* margin-left: 20px; */
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    height: 25px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight {
    color: #ffcc00;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.play-button {
    text-decoration: none;
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-family:TTNorms, sans-serif;
    border-radius: 7px ;
}

.hero-image img {
    height: 400px;
}

.server-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e2a38;
}

.server {
    background-color: #283847;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.server h3 {
    color: #fff;
    font-size: 24px;
}

.total-players {
    text-align: right;
    font-size: 24px;
}

.total-players .highlight {
    color: #ffcc00;
}



/* Button online */
.card {
    background-color: #132d3d;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 260px;
    height: 157px;
  }
  
  .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .title span {
    color: #f3c622;
  }
  
  .card.texas .title span {
    color: #ffcc00;
  }
  
  .card.florida .title span {
    color: #ffffff;
  }
  
  .card.nevada .title span {
    color: #ffd700;
  }
  
  .card.hawaii .title span {
    color: #ffffff;
  }
  
  .card.indiana .title span {
    color: #ffffff;
  }
  
  .count {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #00aaff;
  }
  
  .card:nth-child(4), .card:nth-child(5) {
    grid-column: span 1;
  }





  /* Footer style */


footer {
    background-color: #0c2c3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .payment-icons img {
    height: 40px;
    margin-right: 15px;
  }
  
  .footer-info {
    text-align: right;
  }
  
  .footer-info p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .footer-info a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
  }
  
  .footer-info a:hover {
    text-decoration: underline;
  }

  .support-link {
    background: linear-gradient(270deg, #fec700, #fe9800);
    border-radius: 100%;
    bottom: 20px;
    cursor: pointer;
    height: 60px;
    padding: 15px;
    position: fixed;
    right: -22px;
    width: 62px;
    z-index: 9999;
  }